---
import { Icon } from "astro-icon/components";
import Section from "../components/Section.astro";
import testimonialsData from "../data/testimonialsData.json";
---

<Section className="bg-dim">
    <div class="text-center mb-14">
        <h2 class="text-smoke uppercase text-sm mb-2">Testimonials</h2>
        <p class="amatic-sc-regular text-5xl">
            What Are They <span class="text-primary">Saying About Us</span>
        </p>
    </div>
    <div class="swiper testimonials-slides">
        <div class="swiper-wrapper">
            {
                testimonialsData.map((i) => (
                    <div class="swiper-slide">
                        <div class="md:pl-14">
                            <div class="pl-[30px] md:pl-[64px] pt-[30px] pr-[30px] pb-[30px] mr-[15px] mb-[30px] bg-white rounded shadow-lg relative">
                                <div class="flex justify-start items-center mb-4 md:mb-0">
                                    <img
                                        src={`/img/testimonials/${i.image}`}
                                        alt={`picture of ${i.fullName}`}
                                        class="w-[90px] h-[90px] object-cover md:rounded-lg md:p-[6px] md:bg-white md:absolute md:-left-11"
                                        loading="lazy"
                                    />

                                    <div class="ml-4 md:ml-0">
                                        <h3 class="text-lg font-bold">
                                            {i.fullName}
                                        </h3>
                                        <small class="text-sm text-gray-500 font-bold block">
                                            {i.clientJob}
                                        </small>
                                        <div class="mt-2 flex gap-1">
                                            {[1, 2, 3, 4, 5].forEach(() => (
                                                <Icon
                                                    name="mdi:star"
                                                    class="text-primary text-lg"
                                                />
                                            ))}
                                        </div>
                                    </div>
                                </div>
                                <p class="italic text-[#64757f] py-4">
                                    {i.feedback}
                                </p>
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
        <div class="swiper-pagination relative mt-5"></div>
    </div>
</Section>

<style>
    :root {
        --swiper-pagination-bullet-width: 16px;
        --swiper-pagination-bullet-height: 16px;
        --swiper-pagination-bullet-horizontal-gap: 8px;
    }
</style>
<script is:inline type="module">
    new Swiper(".testimonials-slides", {
        // Optional parameters
        speed: 600,
        direction: "horizontal",
        loop: true,

        slidesPerView: "auto",
        breakpoints: {
            320: {
                slidesPerView: 1,
                spaceBetween: 20,
            },

            1200: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
        },

        autoplay: {
            delay: 4000,
            disableOnInteraction: false,
        },

        // If we need pagination
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
            bulletActiveClass: "swiper-pagination-bullet-active bg-primary",
        },
    });
</script>
